@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-saloon-900 text-amber-100 min-h-screen;
  font-family: 'Bebas Neue', serif;
}
